{% extends "profile/base.html" %}
{% load wagtailimages_tags %}
{% block profile_content %}
{% if is_business %}
<div class="col-md-6">
    <form class="container-fluid" action="{% url 'profiles:address-information' %}" method="POST">
        {% csrf_token %}
        <div class="form__title">1. Реквизиты</div>
        {% if biz_type == "LEGAL_ENTITY" %}
        {{ form.okpo }}
        {% else %}
        {{ form.edrpo }}
        {% endif %}
        <div class="form__title">2. Адрес</div>
        {{ form.country }}
        {{ form.region }}
        {{ form.city }}
        {{ form.street_address }}
        <div class="form__title">3. Юридический адрес</div>
        {{ form.legal_country }}
        {{ form.legal_region }}
        {{ form.legal_city }}
        {{ form.legal_address_line }}
        {{ form.legal_index }}
        <button class="button mt-3" type="submit">Сохранить</button>
    </form>
</div>
<div class="col-md-6 align-self-end">
    <div class="address__img overlay"
         style="background-image: url('{% image self.side_image_photo original as img %}{{ img.url }}')">
        <div class="wrap">
            <h2>{{ self.side_image_title }}</h2>
            <p>{{ self.side_image_description }}</p>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-6">
    <form class="container-fluid" action="{% url 'profiles:address-information' %}" method="POST">
        {% csrf_token %}
        <div class="form__title">Адрес</div>
        {{ form.country }}
        {{ form.region }}
        {{ form.city }}
        {{ form.street_address }}
        <button class="button mt-3" type="submit">Сохранить</button>
    </form>
</div>
<div class="col-lg-6 align-self-end"></div>
{% endif %}
{% endblock %}