{% extends "profile/base.html" %}
{% load wagtailcore_tags i18n %}
{% block profile_content %}
<div class="col-12">
    <table id="table">
        <thead>
        <tr>
            <th><span>{% trans "№ Заказа" %}</span></th>
            <th><span>{% trans "Дата" %}</span></th>
            <th><span>{% trans "Кол - во товаров" %}</span></th>
            <th><span>{% trans "Статус" %}</span></th>
            <th><span>{% trans "Стоимость" %}</span></th>
            <th><span>{% trans "Функции" %}</span></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created_at|date:"d.m.Y" }}</td>
            <td>{{ order.total_items_qty|default:0 }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.total_price|floatformat:0|default:0 }} {% trans "грн." %}</td>
            <td>
                <div class="icons_wrap">
                    <a href="{% pageurl order_detail_page %}?order_id={{order.id}}" class="tooltip" title="{% trans 'Просмотреть заказ' %}"><i class="nut-icon icons-view"></i></a>
                    <a href="#" class="tooltip order__copy_button" title="{% trans 'Копировать' %}"><i class="nut-icon icons-copy"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}