{% extends "profile/base.html" %}
{% load i18n %}
{% block profile_content %}
<div class="col-md-6">
    {% with change_password_form as form %}
    <form action="{% url 'profiles:change-password' %}" method="POST">
        {% csrf_token %}
        <div class="form__title">{% trans "Смена пароля" %}</div>
        {{ form.old_password }}
        {{ form.new_password }}
        {{ form.confirm_password }}
        <button class="button" type="submit">{% trans "Продолжить" %}</button>
    </form>
    {% endwith %}
</div>
{% endblock %}