{% extends "profile/base.html" %}
{% load i18n %}
{% block profile_content %}
<div class="col-12">
    <table id="table">
        <thead>
            <tr>
                <th><span>{% trans "Добавлено" %}</span></th>
                <th><span>{% trans "Статус" %}</span></th>
                <th><span>{% trans "Сумма" %}</span></th>
            </tr>
        </thead>
        <tbody>
            {% for tx in transactions %}
                <tr>
                    <td>{{ tx.created_at|date:"d.m.Y" }}</td>
                    <td>{{ tx.get_status_display }}</td>
                    <td>
                        <div class="icons_wrap">
                            <span>{{ tx.amount|floatformat:0 }} {% trans "грн." %}</span>
                            {% if order_detail_page %}
                                <a href="{{ order_detail_page.url }}?order_id={{ tx.order.id }}"
                                   class="tooltip"
                                   title="{% trans 'Просмотреть заказ' %}">
                                    <i class="nut-icon icons-view"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>

    {% if not transactions %}
        <div class="table__message">{% trans "У вас не было транзакций!" %}</div>
    {% endif %}
</div>
{% endblock %}