{% load i18n wagtail_modeltranslation wagtailroutablepage_tags %}
{% get_available_languages_wmt as languages %}
{% get_current_language as language_code %}

{% for lg in languages %}
{% if lg != language_code %}
<li>
    {% if product and page %}
    <a href="{% change_lang lg page %}{% language lg %}{{product.slug}}{% endlanguage %}/">
        {{ lg|capfirst }}
    </a>
    {% else %}
    <a href="{% change_lang lg page %}">
        {{ lg|capfirst }}
    </a>
    {% endif %}
</li>
{% endif %}
{% endfor %}