{% load i18n %}
<li>
    {% if shop_page %}<a href="{{ shop_page.url }}">{{ shop_page.title }}</a>{% endif %}
</li>
<li>
    {% if about_page %}<a href="{{ about_page.url }}">{{ about_page.title }}</a>{% endif %}
</li>
<li>
    {% if delivery_page %}<a href="{{ delivery_page.url }}">{{ delivery_page.title }}</a>{% endif %}
</li>
<li>
    {% if customers_page %}<a href="{{ customers_page.url }}">{{ customers_page.title }}</a>{% endif %}
</li>
<li>
    {% if news_page %}<a href="{{ news_page.url }}">{{ news_page.title }}</a>{% endif %}
</li>
<li>
    <a href="#contacts">{% translate "Контакты" %}</a>
</li>