{% load core_tags wagtailimages_tags %}
<div class="row">
    <div class="container">
        <div class="bottom_menu">
            <div class="row align-items-center ">
                <div class="col-lg-2">
                    <div class="wraper">
                        <a href="/" class="logo">
                            {% image settings.core.CompanySettings.logo width-100 height-100 %}
                            <span>
                                {{ settings.core.CompanySettings.company_name|split_words_br }}
                                </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <ul class="menu_main_ul">
                        {% menu_links %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>