{% load wagtailcore_tags %}
{% with stats_settings=settings.core.StatisticsSettings %}
<section class="timer">
    <div class="container">
        <div class="row">
            {% for block in stats_settings.items %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="wrap">
                    <!--Value-->
                    <span class="timer__single"
                          data-from="1"
                          data-to="{{ block.value.value }}"
                          data-speed="3000"
                          data-refresh-interval="50">
                            {{ block.value.value }}
                        </span>
                    <!--Unit-->
                    <sup>{{ block.value.unit }}</sup>
                    <!--Description-->
                    <div class="timer__descr">
                        <div>
                            {{ block.value.label }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endwith %}