{% extends "base.html" %}
{% load wagtailimages_tags core_tags i18n %} {% block content %}
<section class="first-section no-bg">
    <div class="container">
        {% breadcrumbs %}
    </div>
</section>

<section
        class="accaunt"
        hx-get="{% url 'cart:table' %}"
        hx-trigger="load, cartUpdated from:body"
        hx-target="#cart__table__wrapper"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="accaunt__manager">
                    <ul>
                        <li>
                            <p>
                                {% blocktrans with manager_name=settings.core.ContactSettings.manager_name %}
                                    Ваш личный менеджер {{ manager_name }}
                                {% endblocktrans %}
                            </p>
                        </li>
                        <li><i class="nut-icon icons-phone"></i>
                            <a href="tel:{{ settings.core.ContactSettings.manager_phone|clean_phone }}">
                                {{ settings.core.ContactSettings.manager_phone }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="cart__table__wrapper" class="col-12">
                </div>
        </div>
    </div>
</section>
{% endblock %}