{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags %}
{% block content %}
<!--Image Hero-->
{% with hero=page.hero.0 %}
{% if hero.block_type == 'image_jumbotron' %}
{% image hero.value.background_image original as bg_image %}
<section class="first-section overlay" style="background-image: url('{{ bg_image.url }}')">
    <div class="container">
        {% breadcrumbs %}
        <div class="row align-items-center justify-content-center">
            <div class="wrap">
                <h1>{{ hero.value.title}}</h1>
                {{hero.value.text|richtext}}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endwith %}
<!--Columns-->
<section class="customers">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <div class="customers__title">
                    {{page.title}}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        {{page.description_column_1|richtext}}
                    </div>
                    <div class="col-md-6">
                        {{page.description_column_2|richtext}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Tabs-->
<section class="payment">
    <div class="tabs">
        <div class="tabs__wrap">
            <div class="container">
                <div class="row">
                    <ul class="tabs__caption">
                        <li class="active"><i class="nut-icon icons-supermarket"></i>
                            <span>Крупные<br> супермаркеты</span></li>
                        <li><i class="nut-icon icons-shop"></i> <span>Розничные<br> магазины</span></li>
                        <li><i class="nut-icon icons-dinner-table"></i> <span>Компании<br> HoReCa</span></li>
                        <li><i class="nut-icon icons-vector11"></i> <span>Фитнес<br> и спорт клубы</span></li>
                        <li><i class="nut-icon icons-cake"></i> <span>Кондитерские<br> и пекарни</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--Supermarkets-->
                    <div class="tabs__content active">
                        <div class="tabs__content_block">
                            <div class="row">
                                {% with supermarkets_block=page.supermarkets.0 %}
                                {% if supermarkets_block.block_type == 'customer_info_block' %}
                                {% image supermarkets_block.value.image original as img %}
                                <div class="col-md-5 col-12 align-self-center">
                                    <div class="tabs__content_block">
                                        {{supermarkets_block.value.description|richtext}}
                                        <a
                                                href="mailto:{{settings.core.ContactSettings.email}}"
                                                class="button"
                                        >
                                            Написать нам
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-12">
                                    <img src="{{img.url}}" class="tabs__content_img"
                                         alt="Customers Block Picture">
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <!--Retail stores-->
                    <div class="tabs__content">
                        <div class="tabs__content_block">
                            <div class="row">
                                {% with retail_stores_block=page.retail_stores.0 %}
                                {% if retail_stores_block.block_type == 'customer_info_block' %}
                                {% image retail_stores_block.value.image original as img %}
                                <div class="col-md-5 col-12 align-self-center">
                                    <div class="tabs__content_block">
                                        {{retail_stores_block.value.description|richtext}}
                                        <a
                                                href="mailto:{{settings.core.ContactSettings.email}}"
                                                class="button"
                                        >
                                            Написать нам
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-12">
                                    <img src="{{img.url}}" class="tabs__content_img"
                                         alt="Customers Block Picture">
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <!--HoReCa-->
                    <div class="tabs__content">
                        <div class="tabs__content_block">
                            <div class="row">
                                {% with horeca_block=page.horeca.0 %}
                                {% if horeca_block.block_type == 'customer_info_block' %}
                                {% image horeca_block.value.image original as img %}
                                <div class="col-md-5 col-12 align-self-center">
                                    <div class="tabs__content_block">
                                        {{horeca_block.value.description|richtext}}
                                        <a
                                                href="mailto:{{settings.core.ContactSettings.email}}"
                                                class="button"
                                        >
                                            Написать нам
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-12">
                                    <img src="{{img.url}}" class="tabs__content_img"
                                         alt="Customers Block Picture">
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <!--Fitness Clubs-->
                    <div class="tabs__content">
                        <div class="tabs__content_block">
                            <div class="row">
                                {% with fitness_clubs_block=page.fitness_clubs.0 %}
                                {% if fitness_clubs_block.block_type == 'customer_info_block' %}
                                {% image fitness_clubs_block.value.image original as img %}
                                <div class="col-md-5 col-12 align-self-center">
                                    <div class="tabs__content_block">
                                        {{fitness_clubs_block.value.description|richtext}}
                                        <a
                                                href="mailto:{{settings.core.ContactSettings.email}}"
                                                class="button"
                                        >
                                            Написать нам
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-12">
                                    <img src="{{img.url}}" class="tabs__content_img"
                                         alt="Customers Block Picture">
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <!--Confectionary Bakeries-->
                    <div class="tabs__content">
                        <div class="tabs__content_block">
                            <div class="row">
                                {% with confectionary_bakeries_block=page.confectionary_bakeries.0 %}
                                {% if confectionary_bakeries_block.block_type == 'customer_info_block' %}
                                {% image confectionary_bakeries_block.value.image original as img %}
                                <div class="col-md-5 col-12 align-self-center">
                                    <div class="tabs__content_block">
                                        {{confectionary_bakeries_block.value.description|richtext}}
                                        <a
                                                href="mailto:{{settings.core.ContactSettings.email}}"
                                                class="button"
                                        >
                                            Написать нам
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-12">
                                    <img src="{{img.url}}" class="tabs__content_img"
                                         alt="Customers Block Picture">
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Statistics-->
{% include "includes/statistics.html" %}
<!--Image Hero-->
{% with hero=page.image_hero.0 %}
{% if hero.block_type == 'image_jumbotron' %}
{% image hero.value.background_image original as bg_image %}
{% endif %}
<div class="parallax" data-scrollax-parent="true">
    <section
            class="eco overlay"
            style="background-image: url('{{ bg_image.url }}'); transform: translateZ(0px) translateY(-2.01884%);"
            data-scrollax="properties: { translateY: '30%' }"
    >
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <a
                        href="#"
                        data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }"
                        style="opacity: 0.932705; transform: translateZ(0px) translateY(-0.336474%);"
                >
                    <i class="nut-icon icons-eco"></i>
                    <h2>{{hero.value.title}}</h2>
                    {{hero.value.text|richtext}}
                </a>
            </div>
        </div>
    </section>
</div>
{% endwith %}
{% endblock %}
