{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags %}
{% block content %}
<!--Video Hero-->
{% with block=page.hero.0 %}
{% if block.block_type == 'video_jumbotron' %}
<section class="first-section overlay">
    {% if block.value.video %}
    <video autoplay muted loop playsinline class="bg-video-hero">
        <source src="{{ block.value.video.url }}" type="video/mp4">
    </video>
    {% endif %}
    <div class="container">
        {% breadcrumbs %}
        <div class="row align-items-center justify-content-center">
            <a href="{{ block.value.video.url }}" target="_blank">
                <h1>{{ block.value.title }}</h1>
                {{ block.value.text_above_play_button|richtext }}
                <span><i class="nut-icon icons-play-icon"></i></span>
            </a>
        </div>
    </div>
</section>
{% endif %}
{% endwith %}
<!--Content-->
<section class="benefit gallery_section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <!--Title And Subtitle-->
                <h2>{{page.title}}</h2>
                <p>{{page.subtitle}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!--Blocks-->
            {% include "includes/gallery/blocks.html" %}
        </div>
    </div>
</section>
{% endblock %}