{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags django_vite %}
{% block content %}
<!--Video Hero-->
{% with block=page.video_hero.0 %}
{% if block.block_type == 'video_jumbotron' %}
<section class="first-section overlay">
    <div class="container">
        {% if block.value.video %}
        <video autoplay muted loop playsinline class="bg-video-hero">
            <source src="{{ block.value.video.url }}" type="video/mp4">
        </video>
        {% endif %}
        <div class="row align-items-center justify-content-center">
            <a href="{{ block.value.video.url }}">
                <h1>{{ block.value.title }}</h1>
                <p>{{ block.value.text_above_play_button }}</p>
                <span><i class="nut-icon icons-play-icon"></i></span>
            </a>
        </div>
    </div>
</section>
{% endif %}
{% endwith %}
<!--Products-->
<section class="production">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <!--Product Title-->
                <h2>{{ page.products_title }}</h2>
                <!--Product Subtitle-->
                <p>{{ page.products_subtitle }}</p>
            </div>
        </div>
        <!--Products list-->
        <div class="row justify-content-center">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="wrap">
                    <div class="production__item">
                        {% if product.discounted_price %}
                        <div class="sticker">
                            <i class="nut-icon icons-actciya"></i>
                            <p>Акция</p>
                        </div>
                        {% elif product.is_new %}
                        <div class="sticker">
                            <i class="nut-icon icons-novinka"></i>
                            <p>Новинка</p>
                        </div>
                        {% endif %}

                        <div class="products-container swiper-container">
                            <div class="swiper-wrapper">
                                {% for item in product.images.all %}
                                <div class="swiper-slide">
                                    <a href="{% pageurl product_page %}?product_id={{ product.id }}"><img src="{{ item.image.url }}" alt="{{ product.name }}"/></a>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <img class="zoom" src="{% vite_asset_url 'src/img/zoom.svg' %}" alt="zoom">
                        </div>

                        <div class="wrap">
                            <div class="production__item_title">
                                {{ product.name }}
                            </div>
                            <div class="production__item_art">
                                <span>Арт:</span> {{ product.sku }}
                            </div>
                            <div class="production__item_descr">
                                {{ product.features.all|join:", " }}
                            </div>
                            <div class="production__item_weight">
                                <div class="weight_item">
                                    <div class="weight_item_icon">
                                        <i class="nut-icon icons-food-scale-tool"></i>
                                    </div>
                                    <div class="weight_item_descr">
                                        <p>Масса</p>
                                        <p><span>{{ product.weight }}<i>г.</i></span></p>
                                    </div>
                                </div>
                                <div class="weight_item">
                                    <div class="weight_item_icon">
                                        <i class="nut-icon icons-group"></i>
                                    </div>
                                    <div class="weight_item_descr">
                                        <p>Упаковка</p>
                                        <p><span>вакуумная</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="production__item_sum">
                                <div class="sum_item">
                                    <div class="sum_item_title">
                                        <p>Цена: </p>
                                    </div>
                                    {% if product.discounted_price %}
                                    <div class="sum_item_new">
                                        <p>{{ product.discounted_price|floatformat:0 }} <i>грн.</i></p>
                                    </div>
                                    <div class="sum_item_old">
                                        <p>{{ product.price|floatformat:0 }} <i>грн.</i></p>
                                    </div>
                                    {% else %}
                                    <div class="sum_item_new">
                                        <p>{{ product.price|floatformat:0 }} <i>грн.</i></p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="sum_item">
                                    <div class="sum_item_button">
                                        <a href="{% pageurl product_page %}?product_id={{ product.id }}" class="button">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--Go To The Shop Button-->
        <div class="row">
            <div class="wrapper">
                <a href="{% pageurl shop_page %}" class="button button_transparent">Перейти в магазин</a>
            </div>
        </div>
    </div>
</section>
<!--About-->
<section class="manufacturer gray_section">
    <div class="container">
        <div class="row align-items-center">
            <!--Block Title And Description-->
            <div class="col-md-5">
                <h2>{{ about_page.title }}</h2>
                <p>{{ about_page.short_description|richtext }}</p>
                <a href="{{ about_page.url }}" class="button button_transparent">Подробнее</a>
            </div>
            <!--Video Carousel-->
            <div class="col-md-7">
                <div class="manufacturer-container swiper-container">
                    <div class="swiper-wrapper">
                        {% for block in about_page.videos %}
                        <div class="swiper-slide">
                            <div class="manufacturer__item manufacturer__item_video gallery-video__container">
                                <a href="{{ block.value.url }}">
                                    <video autoplay muted loop playsinline class="bg-video">
                                        <source src="{{ block.value.url }}" type="video/mp4">
                                    </video>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--Arrows-->
                    <div class="wrap">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Statistics-->
{% include "includes/statistics.html" %}
<!--Video Hero 2-->
{% with block=page.video_hero_2.0 %}
{% if block.block_type == 'video_jumbotron' %}
<div class="parallax" data-scrollax-parent="true">
    <section class="goal overlay cover" data-scrollax="properties: { translateY: '30%' }">
        {% if block.value.video %}
        <video autoplay muted loop playsinline class="bg-video-hero">
            <source src="{{ block.value.video.url }}" type="video/mp4">
        </video>
        {% endif %}
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <a href="{{ block.value.video.url }}" data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }">
                    <h2>{{ block.value.title }}</h2>
                    <span><i class="nut-icon icons-play-icon"></i></span>
                    <div class="timer__descr">
                        <i>{{ block.value.text_below_play_button|richtext }}</i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
{% endif %}
{% endwith %}
<!--Product Utility-->
<section class="benefit">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <h2>{{ page.product_utility_title }}</h2>
                <p>{{ page.product_utility_description|linebreaksbr }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!--Walnut-->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="wrap">
                    {% image page.walnut_image original as walnut_img %}
                    <div class="benefit__item overlay" style="background-image: url('{{ walnut_img.url }}')">
                        <i class="nut-icon icons-group4"></i>
                        <h3>Грецкий орех</h3>
                    </div>
                    <div class="benefit__item item_hover overlay_green">
                        <i class="nut-icon icons-group4"></i>
                        <h3>Грецкий орех</h3>
                        <div class="benefit__text">
                            <p>
                                {{ page.walnut_utility_description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Hazelnut-->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="wrap">
                    {% image page.hazelnut_image original as hazelnut_img %}
                    <div class="benefit__item overlay" style="background-image: url('{{ hazelnut_img.url }}')">
                        <i class="nut-icon icons-vector4"></i>
                        <h3>Фундук</h3>
                    </div>
                    <div class="benefit__item item_hover overlay_green">
                        <i class="nut-icon icons-vector4"></i>
                        <h3>Фундук</h3>
                        <div class="benefit__text">
                            <p>
                                {{ page.hazelnut_utility_description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Rosehip-->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="wrap">
                    {% image page.rosehip_image original as rosehip_img %}
                    <div class="benefit__item overlay" style="background-image: url('{{ rosehip_img.url }}')">
                        <i class="nut-icon icons-group5"></i>
                        <h3>Шиповник</h3>
                    </div>
                    <div class="benefit__item item_hover overlay_green">
                        <i class="nut-icon icons-group5"></i>
                        <h3>Шиповник</h3>
                        <div class="benefit__text">
                            <p>
                                {{ page.rosehip_utility_description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Image Hero-->
{% with hero=page.image_hero.0 %}
{% if hero.block_type == 'image_jumbotron' %}
{% image hero.value.background_image original as bg_image %}
{% endif %}
<div class="parallax" data-scrollax-parent="true">
    <section
            class="eco overlay"
            style="background-image: url('{{ bg_image.url }}'); transform: translateZ(0px) translateY(-2.01884%);"
            data-scrollax="properties: { translateY: '30%' }"
    >
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <a
                        href="#"
                        data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }"
                        style="opacity: 0.932705; transform: translateZ(0px) translateY(-0.336474%);"
                >
                    <i class="nut-icon icons-eco"></i>
                    <h2>{{hero.value.title}}</h2>
                    {{hero.value.text|richtext}}
                </a>
            </div>
        </div>
    </section>
</div>
{% endwith %}
<!--News-->
<section class="news gray_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <h2>{{ news_page.title }}</h2>
                <p class="news__descr">{{ news_page.description }}</p>

            </div>
            <div class="col-md-6 col-12 d-flex justify-content-end">
                <div class="wrap">
                    <div class="navigation"></div>
                </div>
            </div>
            <div class="col-12">
                <!-- Swiper -->
                <div class="news-container swiper-container">
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-wrapper">
                        {% for news in news_list %}
                        <div class="swiper-slide">
                            <div class="news__item">
                                {% with main_media=news.main_media.0 %}
                                {% if main_media.block_type == 'image' %}
                                {% image main_media.value original as img %}
                                <span class="video_wrap">
                                <img src="{{img.url}}" alt="News Main Media Image">
                            </span>
                                {% endif %}
                                {% if main_media.block_type == 'video' %}
                                <span class="news-video__container">
                                <a href="{{ main_media.value.url }}">
                                    <video autoplay muted loop playsinline class="bg-video">
                                        <source src="{{ main_media.value.url }}" type="video/mp4">
                                    </video>
                                </a>
                            </span>
                                {% endif %}
                                {% endwith %}
                                <div class="wraper pr-5">
                                    <div class="item_data">
                                        {{ news.publication_date|date:"d.m.Y" }}
                                    </div>
                                    <h3>{{ news.title }}</h3>
                                    <p>{{ news.get_excerpt }}</p>
                                    <a href="{% pageurl news %}">Читать <i class="nut-icon icons-read-more"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <a href="{% pageurl news_page %}" class="button button_transparent">Смотреть все новости</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}