{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags django_vite %}
{% block content %}
<!--Breadcrumbs-->
<section class="first-section no-bg">
    <div class="container">
        {% breadcrumbs %}
    </div>
</section>
<!--Product-->
{% if product %}
<section class="product">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5 col-md-6">
                <div class="wrap">
                    <div class="product__item">
                        <!--New / Discounted Price Labels-->
                        {% if product.discounted_price %}
                        <div class="sticker">
                            <i class="nut-icon icons-actciya"></i>
                            <p>Акция</p>
                        </div>
                        {% elif product.is_new %}
                        <div class="sticker">
                            <i class="nut-icon icons-novinka"></i>
                            <p>Новинка</p>
                        </div>
                        {% endif %}
                        <!-- Slider main container -->
                        <div class="products-container swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% for item in product.images.all %}
                                <div class="swiper-slide">
                                    <a href="#"><img src="{{ item.image.url }}" alt="{{ product.name }}"/></a>
                                </div>
                                {% endfor %}
                            </div>

                            <!-- Navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <img class="zoom" src="{% vite_asset_url 'src/img/zoom.svg' %}" alt="zoom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="product__content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product__content_name">
                                {{ product.name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product__content_art">
                                Арт:<span> {{ product.sku }}</span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <h1>{{ product.features.all|join:", " }}</h1>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-12">
                            <div class="product__content_descr">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Состав:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>{{ product.ingredients }}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Масса нетто:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>{{ product.weight }} г.</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Энергетическая ценность:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>{{ product.calories }} Ккал.</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Срок годности:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>{{ product.shelf_life_months }} месяцев, с даты расфасовки (указана на упаковке)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="warning">
                                <i class="nut-icon icons-warning-sigh"></i>
                                <p>{{ page.storage_conditions }}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="product__content_sum">
                                <div class="sum_item">
                                    <div class="sum_item_title">
                                        <p>Ваша цена: </p>
                                    </div>
                                    {% if product.discounted_price %}
                                    <div class="sum_item_new">
                                        <p>{{ product.discounted_price|floatformat:0 }} <i>грн.</i></p>
                                    </div>
                                    <div class="sum_item_old">
                                        <p>{{ product.price|floatformat:0 }} <i>грн.</i></p>
                                    </div>
                                    {% else %}
                                    <div class="sum_item_new">
                                        <p>{{ product.price|floatformat:0 }} <i>грн.</i></p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="sum_item">
                                    <div class="sum_item_button">
                                        <button type="button"
                                                class="button"
                                                hx-post="{% url 'cart:add-item' product.id %}"
                                                hx-target="#cart-content"
                                                hx-swap="outerHTML"
                                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                hx-disabled-elt="this">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!--Tabs-->
<section class="payment payment__product">
    <div class="tabs">
        <div class="tabs__wrap">
            <div class="container">
                <div class="row">
                    <ul class="tabs__caption">
                        <li class="active"><span>Описание</span></li>
                        <li><span>Упаковка</span></li>
                        <li><span>Оплата</span></li>
                        <li><span>Доставка</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--Description-->
                    <div class="tabs__content active">
                        {% with block=page.description_info.0 %}
                        {% image block.value.image original as img %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <img src="{{ img.url }}" class="tabs__content_img" alt="Description Block Image">
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                                <div class="tabs__content_product">
                                    {{ block.value.text|richtext }}
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                    <!--Packaging-->
                    <div class="tabs__content">
                        {% with block=page.packaging_info.0 %}
                        {% image block.value.image original as img %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <img src="{{ img.url }}" class="tabs__content_img" alt="Packaging Block Image">
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                                <div class="tabs__content_product">
                                    {{ block.value.text|richtext }}
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                    <!--Payment-->
                    <div class="tabs__content">
                        {% with block=page.payment_info.0 %}
                        {% image block.value.image original as img %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <img src="{{ img.url }}" class="tabs__content_img" alt="Payment Block Image">
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                                <div class="tabs__content_product">
                                    {{ block.value.text|richtext }}
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                    <!--Delivering-->
                    <div class="tabs__content">
                        {% with block=page.delivery_info.0 %}
                        {% image block.value.image original as img %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <img src="{{ img.url }}" class="tabs__content_img" alt="Delivering Block Image">
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                                <div class="tabs__content_product">
                                    {{ block.value.text|richtext }}
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}