{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}
{% block content %}
{% with block=page.hero.0 %}
{% image block.value.background_image original as bg_image %}
<section class="first-section overlay" style="background-image: url('{{ bg_image.url }}')">
    <div class="container">
        {% breadcrumbs %}
        <div class="row align-items-center justify-content-center">
            <h1>{{ block.value.title }}</h1>
        </div>
    </div>
</section>
<section class="production">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="production__filter">
                    <form
                            id="filter-form"
                            hx-get="{% url 'shop:catalog' %}"
                            hx-target="#product-grid"
                    >
                        {% csrf_token %}
                        <div id="filter-form-inner">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div
                class="row justify-content-center"
                id="product-grid"
                hx-get="{% url 'shop:catalog' %}"
                hx-trigger="load"
                hx-include="#filter-form"
        >
        </div>
        <div id="load-more-wrapper">
        </div>
    </div>
    </div>
</section>
<section class="manufacturer gray_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <h2>{{ page.nut_title }}</h2>
                <div class="wrapper">
                    <p>{{ page.nut_description }}</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="manufacturer-container swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in page.gallery %}
                        {% image slide.value original as img %}
                        <div class="swiper-slide">
                            <div class="manufacturer__item">
                                <img src="{{img.url}}" alt="{% trans 'Gallery Slide' %}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="wrap">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock %}