{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags %}
{% block content %}
<!--Image Hero-->
{% with block=page.hero.0 %}
{% image block.value.background_image original as bg_image %}
<section class="first-section overlay" style="background-image: url('{{ bg_image.url }}')">
    <div class="container">
        {% breadcrumbs %}
        <div class="row align-items-center justify-content-center">
            <h1>{{ block.value.title }}</h1>
        </div>
    </div>
</section>
<!--Products-->
<section class="production">
    <div class="container">
        <!--Filter-->
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="production__filter">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="production__filter_title">
                                        <p>Фильтр</p>
                                        <i class="nut-icon icons-settings"></i>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <select>
                                        <option value="hide">Вкус</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <select>
                                        <option value="hide">Масса</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                        <option value="lorem">lorem</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 align-self-center">
                            <div class="row">
                                <div class="col-lg-5 align-self-center">
                                    <div class="production__filter_price">
											<span>
													Стоимость
											</span>
                                        <i class="nut-icon icons-arrow-down"></i>
                                        <i class="nut-icon icons-right-top accent"></i>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="production__filter_button">
                                        <a href="#" class="button">Применить</a>
                                        <a href="#" class="button_close"><i
                                                class="nut-icon icons-close-button"></i><span> Сбросить</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Products-->
        <div class="row justify-content-center">
        </div>
        <!--Load More Button-->
        <div class="row">
            <div class="wrapper">
                <a href="#" class="button button_transparent">Загрузить еще</a>
            </div>
        </div>
    </div>
</section>
<!--Manufacturer Block-->
<section class="manufacturer gray_section">
    <div class="container">
        <div class="row align-items-center">
            <!--Title And Description-->
            <div class="col-md-5">
                <h2>{{ page.nut_title }}</h2>
                <div class="wrapper">
                    <p>{{ page.nut_description }}</p>
                </div>
            </div>
            <!--Slides-->
            <div class="col-md-7">
                <!-- Swiper -->
                <div class="manufacturer-container swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in page.gallery %}
                        {% image slide.value original as img %}
                        <div class="swiper-slide">
                            <div class="manufacturer__item">
                                <img src="{{img.url}}" alt="Gallery Slide">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="wrap">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock %}