{% load core_tags i18n l10n django_vite wagtailcore_tags wagtailimages_tags  wagtail_modeltranslation %}
{% get_current_language as language_code %}
{% load wagtail_modeltranslation %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="description" content="My description">

    <!-- Responsive -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="theme-color" content="#337D5A">

    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="128x128" href="img/apple.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="img/image.jpg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:title" content="My title">
    <meta property="og:description" content="My description">

    <!-- Touch -->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    {% vite_hmr_client %}
    {% vite_asset 'src/js/styles.js' %}
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
</head>

<body class="page">

<div class="mobile-menu d-lg-none">
    <div class="row">
        <div class="col-12">
            <a href="/" class="logo">
                {% image settings.core.CompanySettings.logo width-100 height-100 %}
                <span>
                    {{ settings.core.CompanySettings.company_name|split_words_br }}
                </span>
            </a>
            <i class="nut-icon icons-close-button"></i>
        </div>
    </div>
</div>
<header class="top-header">
    <div class="top-header__line">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-12 d-lg-block d-none">
                    <ul class="line_social">
                        <li>
                            <a href="{{settings.core.ContactSettings.facebook_url}}">
                                <i class="nut-icon icons-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{settings.core.ContactSettings.instagram_url}}">
                                <i class="nut-icon icons-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{settings.core.ContactSettings.youtube_url}}">
                                <i class="nut-icon icons-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {% if settings.core.DiscountBannerSettings.is_enabled %}
                <div class="col-lg-4 col-12 d-lg-flex d-none justify-content-center">
                    <p>
                        {{settings.core.DiscountBannerSettings.text}}
                        -{{settings.core.DiscountBannerSettings.discount_percent}}%
                    </p>
                </div>
                {% endif %}
                <div class="col-lg-4 col-12">
                    <div class="wrap">
                        <ul class="log_in d-lg-flex d-none">
                            <li>
                                <a href="#"><i class="nut-icon icons-man-user"></i><span>Вход</span></a>
                            </li>
                            <li>
                                <a href="#"><span>Регистрация</span></a>
                            </li>
                        </ul>
                        <div id="lang-menu" class="lang-menu">
                            <span class="title">{{ language_code|capfirst }}</span>
                            <ul>
                                {% get_available_languages_wmt as languages %}
                                {% for lang in languages %}
                                {% if lang != language_code %}
                                <li><a href="{% change_lang lang page %}">{{ lang|capfirst }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-header__logo">
        <div class="container">
            <div class="row">
                <div class="col-2 d-lg-none">
                    <div class="mobile-menu-button d-lg-none d-block">
                        <img src="{% vite_asset_url 'src/img/menu.svg' %}" alt="Menu Icon">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-8 align-self-center">
                    <a href="/" class="logo">
                        {% image settings.core.CompanySettings.logo width-100 height-100 %}
                        <span>
                            {{ settings.core.CompanySettings.company_name|split_words_br }}
                        </span>
                    </a>
                </div>
                <div class="col-xl-8 col-lg-9 col-2 align-self-center">
                    <div class="row">
                        <div class="col-lg-6 col-12 align-self-center d-lg-block d-none">
                            <div class="wrap">
                                <ul class="logo_social">
                                    <li>
                                        <a href="{{settings.core.ContactSettings.viber_url}}">
                                            <i class="nut-icon icons-viber"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{settings.core.ContactSettings.telegram_url}}">
                                            <i class="nut-icon icons-telegram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{settings.core.ContactSettings.whatsapp_url}}">
                                            <i class="nut-icon icons-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="logo_tel">
                                    <li>
                                        {% with phone=settings.core.ContactSettings.phone_1 %}
                                        <a href="tel:{{ phone|clean_phone }}">
                                            {{ phone|format_phone_html }}
                                        </a>
                                        {% endwith %}
                                    </li>
                                    <li>
                                        {% with phone=settings.core.ContactSettings.phone_2 %}
                                        <a href="tel:{{ phone|clean_phone }}">
                                            {{ phone|format_phone_html }}
                                        </a>
                                        {% endwith %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 align-self-center">
                            <div class="wraper">
                                <ul class="logo_tel_mobile d-lg-none d-flex">
                                    <li>
                                        {% with phone=settings.core.ContactSettings.manager_phone %}
                                        <a href="tel:{{ phone|clean_phone }}">
                                            {{ phone|format_phone_html }}
                                        </a>
                                        {% endwith %}
                                    </li>
                                </ul>
                                <ul class="logo_button_mobile d-lg-none d-flex">
                                    <li>
                                        <a href="#" class="button">Заказать звонок</a>
                                    </li>
                                </ul>
                                <ul class="logo_button d-lg-flex d-none">
                                    <li>
                                        <a href="#" class="button">Заказать звонок</a>
                                    </li>
                                    <li>
                                        <p>{{ settings.core.CompanySettings.header_text|wordwrap:20|linebreaksbr }}</p>
                                    </li>
                                </ul>
                                <a href="#" class="logo_number">
                                    <i class="nut-icon icons-number"></i>
                                    <span class="quantity">0</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if settings.core.DiscountBannerSettings.is_enabled %}
    <div class="top-header__discount d-lg-none d-flex">
        <p>
            {{settings.core.DiscountBannerSettings.text}}
            -{{settings.core.DiscountBannerSettings.discount_percent}}%
        </p>
    </div>
    {% endif %}
    <div class="top-header__menu d-lg-flex d-none">
        <div class="container">
            <div class="row">
                <nav class="menu_main menu_top">
                    <div class="mobile-line d-lg-none d-flex"></div>
                    <ul class="menu_main_ul">
                        {% menu_links %}
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>

<div class="container pr">
    <div class="popup__cart">
        <div class="wrap">
            <div class="popup__cart_item">
                <div class="row align-items-center no-gutters item_row">
                    <div class="col-md-5 col-12">
                        <div class="item_title">
                            <p>Орех соленый 80г.</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-12">
                        <div class="row align-items-center no-gutters">
                            <div class="col-6">
                                <div class="item_quantity">
                                    <button type="button" class="quantity_minus">
                                        <i class="nut-icon icons-qty-left"></i>
                                    </button>
                                    <input type="text" name="quantity" value="4" class="quantity_input">
                                    <button type="button" class="quantity_plus">
                                        <i class="nut-icon icons-qty-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="item_sum">
                                    <p>100 <span>грн.</span></p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="item_close">
                                    <a href="#">
                                        <i class="nut-icon icons-close-button"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__cart_item">
                <div class="row align-items-center no-gutters item_row">
                    <div class="col-md-5 col-12">
                        <div class="item_title">
                            <p>Орех сладкий 80г.</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-12">
                        <div class="row align-items-center no-gutters">
                            <div class="col-6">
                                <div class="item_quantity">
                                    <button type="button" class="quantity_minus">
                                        <i class="nut-icon icons-qty-left"></i>
                                    </button>
                                    <input type="text" name="quantity" value="8" class="quantity_input">
                                    <button type="button" class="quantity_plus">
                                        <i class="nut-icon icons-qty-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="item_sum">
                                    <p>80 <span>грн.</span></p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="item_close">
                                    <a href="#">
                                        <i class="nut-icon icons-close-button"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__cart_sum">
                <div class="sum_item">
                    <div class="sum_item_title">
                        <p>Всего </p>
                    </div>
                    <div class="sum_item_new">
                        <p>175 <i>грн.</i></p>
                    </div>
                </div>
                <div class="sum_item">
                    <div class="sum_item_button">
                        <a href="#" class="button">Перейти в корзину</a>
                    </div>
                </div>
            </div>
            <!-- Если корзина пуста -->
            <!-- <div class="popup__cart_clean">
                <p>Ваша корзина пуста</p>
            </div> -->
        </div>
    </div>
</div>

<section class="first-section no-bg">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="#">Регистрация</a>
                </li>
                <li>
                    Пользовательское соглашение
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="term">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{page.title}}</h1>
                {{page.description|richtext}}
            </div>
        </div>
    </div>
</section>

<footer class="footer__bottom footer__bottom_gray">
    <div class="gray_section" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="wrap">
                        <h2>Контакты</h2>
                        <div class="bottom_social">
                            <div class="bottom_social_tel">
                                <i class="nut-icon icons-phone"></i>
                                <ul>
                                    <li>
                                        {% with phone=settings.core.ContactSettings.phone_1 %}
                                        <a href="tel:{{ phone|clean_phone }}">
                                            {{ phone|format_phone_html }}
                                        </a>
                                        {% endwith %}
                                    </li>
                                    <li>
                                        {% with phone=settings.core.ContactSettings.phone_2 %}
                                        <a href="tel:{{ phone|clean_phone }}">
                                            {{ phone|format_phone_html }}
                                        </a>
                                        {% endwith %}
                                    </li>
                                </ul>
                            </div>
                            <div class="bottom_social_links">
                                <ul>
                                    <li>
                                        <a href="{{settings.core.ContactSettings.viber_url}}">
                                            <i class="nut-icon icons-viber"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{settings.core.ContactSettings.telegram_url}}">
                                            <i class="nut-icon icons-telegram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{settings.core.ContactSettings.whatsapp_url}}">
                                            <i class="nut-icon icons-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom_mail">
                            <a href="mailto:{{settings.core.ContactSettings.email}}">
                                <i class="nut-icon icons-post"></i>
                                {{settings.core.ContactSettings.email}}
                            </a>
                        </div>
                        <address class="bottom_address">
                            <ul>
                                <li>
                                    <b>Офис и отдел продаж</b>
                                    <p>
                                        {{settings.core.ContactSettings.office_and_sales_department_address|wordwrap:30|linebreaksbr}}
                                    </p>
                                </li>
                                <li>
                                    <b>Производство</b>
                                    <p>
                                        {{ settings.core.ContactSettings.production_address|wordwrap:30|linebreaksbr }}
                                    </p>
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div
                            id="map"
                            data-longitude="{{settings.core.ContactSettings.map_longitude|unlocalize}}"
                            data-latitude="{{settings.core.ContactSettings.map_latitude|unlocalize}}"
                    >

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="bottom_menu">
                <div class="row align-items-center ">
                    <div class="col-lg-2">
                        <div class="wraper">
                            <a href="/" class="logo">
                                {% image settings.core.CompanySettings.logo width-100 height-100 %}
                                <span>
                                {{ settings.core.CompanySettings.company_name|split_words_br }}
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <ul class="menu_main_ul">
                            {% menu_links %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-4 col-12">
                    <p>Разработано <a href="https://avada-media.ua/" class="dev"><span>AVADA</span> MEDIA</a></p>
                </div>
                <div class="col-md-4 col-12">
                    <p class="copy_year">Copyright © {% now "Y" %}. Все права защищены</p>
                </div>
                <div class="col-md-4 col-12">
                    <ul class="copy__social">
                        <li>
                            <a href="{{settings.core.ContactSettings.facebook_url}}">
                                <i class="nut-icon icons-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{settings.core.ContactSettings.instagram_url}}">
                                <i class="nut-icon icons-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{settings.core.ContactSettings.youtube_url}}">
                                <i class="nut-icon icons-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Leaflet-->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
{% vite_asset 'src/js/vendor/jquery.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/jquery-ui-1.10.4.custom.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/jquery.countTo.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/swiper.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/simple-lightbox.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/scrollax.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/picturefill.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/stickyfill.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/jquery.mCustomScrollbar.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/jquery.basictable.min.js' type="text/javascript" %}
{% vite_asset 'src/js/vendor/tooltipster.bundle.min.js' type="text/javascript" %}
{% vite_asset 'src/js/common.js' type="text/javascript" %}
</body>
</html>
