{% extends "base.html" %}
{% load wagtailimages_tags %}
{% block content %}
{% with block=page.hero.0 %}
	<section
            class="thanks overlay"
            style="background-image: url('{% image block.value.background_image original as img %}{{ img.url }}')"
    >
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="wrap">
					<h1>{{ block.value.title }}</h1>
					<p>{{ block.value.text }}</p>
				</div>
			</div>
		</div>
	</section>
{% endwith %}
{% endblock %}