<!--Product Cards-->
{% load django_vite %}
{% for product in products %}
<div class="col-lg-4 col-md-6 col-12">
    <div class="wrap">
        <div class="production__item">
            {% if product.discounted_price %}
            <div class="sticker">
                <i class="nut-icon icons-actciya"></i>
                <p>Акция</p>
            </div>
            {% elif product.is_new %}
            <div class="sticker">
                <i class="nut-icon icons-novinka"></i>
                <p>Новинка</p>
            </div>
            {% endif %}

            <div class="products-container swiper-container">
                <div class="swiper-wrapper">
                    {% for item in product.images.all %}
                    <div class="swiper-slide">
                        <a href="#"><img src="{{ item.image.url }}" alt="{{ product.name }}"/></a>
                    </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <img class="zoom" src="{% vite_asset_url 'src/img/zoom.svg' %}" alt="zoom">
            </div>

            <div class="wrap">
                <div class="production__item_title">
                    {{ product.name }}
                </div>
                <div class="production__item_art">
                    <span>Арт:</span> {{ product.sku }}
                </div>
                <div class="production__item_descr">
                    {{ product.features.all|join:", " }}
                </div>
                <div class="production__item_weight">
                    <div class="weight_item">
                        <div class="weight_item_icon">
                            <i class="nut-icon icons-food-scale-tool"></i>
                        </div>
                        <div class="weight_item_descr">
                            <p>Масса</p>
                            <p><span>{{ product.weight }}<i>г.</i></span></p>
                        </div>
                    </div>
                    <div class="weight_item">
                        <div class="weight_item_icon">
                            <i class="nut-icon icons-group"></i>
                        </div>
                        <div class="weight_item_descr">
                            <p>Упаковка</p>
                            <p><span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="production__item_sum">
                    <div class="sum_item">
                        <div class="sum_item_title">
                            <p>Цена: </p>
                        </div>
                        {% if product.discounted_price %}
                        <div class="sum_item_new">
                            <p>{{ product.discounted_price|floatformat:0 }} <i>грн.</i></p>
                        </div>
                        <div class="sum_item_old">
                            <p>{{ product.price|floatformat:0 }} <i>грн.</i></p>
                        </div>
                        {% else %}
                        <div class="sum_item_new">
                            <p>{{ product.price|floatformat:0 }} <i>грн.</i></p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="sum_item">
                        <div class="sum_item_button">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--Form Filters-->
<div id="filter-form-inner" hx-swap-oob="true">
    <div class="row">
        <div class="col-lg-7">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="production__filter_title">
                        <p>Фильтр</p>
                        <i class="nut-icon icons-settings"></i>
                    </div>
                </div>
                <div class="col-lg-5">
                    {{ filter_form.feature }}
                </div>
                <div class="col-lg-4">
                    {{ filter_form.weight_range }}
                </div>
            </div>
        </div>
        <div class="col-lg-5 align-self-center">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    {{ filter_form.sort_price }}
                    <div class="production__filter_price">
                        <span>Стоимость</span>
                        <i class="ordering-icon nut-icon icons-arrow-down {% if filter_form.sort_price.value == 'desc' %}accent{% endif %}"></i>
                        <i class="ordering-icon nut-icon icons-right-top {% if filter_form.sort_price.value == 'asc' %}accent{% endif %}"></i>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="production__filter_button">
                        <button type="submit" class="button">Применить</button>
                        <a href="#"
                           class="button_close"
                           hx-get="{% url 'shop:catalog' %}"
                           hx-target="#product-grid"
                        >
                            <i class="nut-icon icons-close-button"></i>
                            <span> Сбросить</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Load More Button-->
<div id="load-more-wrapper" hx-swap-oob="true">
    {% if page_obj.has_next %}
    <div class="row">
        <div class="wrapper">
            <a href="#"
               class="button button_transparent"
               hx-get="{% url 'shop:catalog' %}?page={{ page_obj.next_page_number }}"
               hx-include="#filter-form"
               hx-target="#product-grid"
               hx-swap="beforeend">
                Загрузить еще
            </a>
        </div>
    </div>
    {% else %}
    <div class="wrapper d-none"></div>
    {% endif %}
</div>