{% extends "base.html" %}
{% load core_tags i18n %}
{% block content %}
<section class="first-section no-bg">
    <div class="container">
        {% breadcrumbs %}
    </div>
</section>
<section class="password">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <h1 class="text-center">{% trans "Восстановление пароля" %}</h1>
                <div class="password__link">
                    <div class="wrap">
                        <i class="nut-icon icons-locked"></i>
                        <a href="#"><span>{% trans "Восстановление пароля" %}</span></a>
                    </div>
                    <p>{% trans "Введите новый пароль для E-Mail" %} <a href="#">{{email}}</a></p>
                </div>
                {% with reset_password_form as form %}
                <form method="POST" action="{% url 'custom_auth:reset-password' %}?uid={{ request.GET.uid }}&token={{ request.GET.token }}">
                    {% csrf_token %}
                    {{ form.password }}
                    {{ form.password_confirm }}
                    <button class="button" type="submit">{% trans "Сменить пароль" %}</button>
                </form>
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}