{% extends "base.html" %}
{% load core_tags %}
{% block content %}
<!--Breadcrumbs-->
<section class="first-section no-bg">
    <div class="container">
        {% breadcrumbs %}
    </div>
</section>
<!--Forms-->
<section class="registration">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col-12">
                <div class="form__title">
                    1. Контактные данные
                </div>
            </div>
            <div class="tabs">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="tabs__wrap">
                            <ul class="tabs__caption">
                                <li class="active">
                                    Физическое лицо
                                </li>
                                <li>
                                    Юридическое лицо
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6"></div>
                </div>
                <!--Individual-->
                <div class="tabs__content active">
                    {% with individual_registration_form as form %}
                    <form action="{% url 'custom_auth:individual-registration' %}" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                {{ form.full_name }}
                                {{ form.email }}
                                {{ form.phone }}
                                <div class="form__title">
                                    2. Адрес
                                </div>
                                {{ form.country }}
                                {{ form.region }}
                                {{ form.city }}
                                {{ form.address_line }}
                                <div class="form__title">
                                    3. Пароль
                                </div>
                                {{ form.password }}
                                {{ form.password_confirm }}
                            </div>
                            <div class="col-lg-5 col-md-6 offset-lg-1">
                                <div class="wrapper">
                                    <div class="file__wrap">
                                        {{ form.avatar }}
                                        <label for="{{form.avatar.id_for_label}}"><span>Загрузить фото</span></label>
                                    </div>
                                    <div class="checkbox__wrap">
                                        {{ form.is_fop }}
                                        <label for="checkbox-1" class="checkbox-custom-label">
                                            <span>Являюсь ФОП</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="checkbox__wrap">
                                    {{ form.agreed_to_terms }}
                                    <label for="{{ form.agreed_to_terms.id_for_label }}" class="checkbox-custom-label">
                                        <span>
                                            Я согласен с <a href="{{terms_page.url}}">Условиями регистрации</a>
                                        </span>
                                    </label>
                                </div>
                                <button class="button" type="submit">Продолжить</button>
                            </div>
                            <div class="col-lg-7 col-md-6"></div>
                        </div>
                    </form>
                    {% endwith %}
                </div>
                <!--Legal Entity-->
                <div class="tabs__content">
                    {% with business_registration_form as form %}
                    <form method="POST" enctype="multipart/form-data" action="{% url 'custom_auth:business-registration' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                {{ form.full_name }}
                                {{ form.email }}
                                {{ form.phone }}
                                <div class="form__title">
                                    2. Адрес
                                </div>
                                {{ form.country }}
                                {{ form.region }}
                                {{ form.city }}
                                {{ form.address_line }}
                                <div class="form__title">
                                    3. Пароль
                                </div>
                                {{ form.password }}
                                {{ form.password_confirm }}
                            </div>
                            <div class="col-lg-5 col-md-6 offset-lg-1">
                                <div class="wrapper">
                                    <div class="file__wrap">
                                        {{ form.avatar }}
                                        <label for="{{form.avatar.id_for_label}}">
                                            <span>Загрузить фото</span>
                                        </label>
                                    </div>
                                    <div class="radio__wrap">
                                        {% for radio in form.business_type %}
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" class="radio-custom-label">
                                            <span>{{ radio.choice_label }}</span>
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="box-wrap">
                                        <!--Legal Entity-->
                                        <div class="ur box">
                                            <div class="form__title">
                                                1. Реквизиты
                                            </div>
                                            {{ form.okpo }}
                                            <div class="form__title">
                                                2. Юридический адрес
                                            </div>
                                            {{ form.legal_country }}
                                            {{ form.legal_region }}
                                            {{ form.legal_city }}
                                            {{ form.legal_address_line }}
                                            {{ form.legal_index }}
                                        </div>
                                        <!--FOP-->
                                        <div class="fop box">
                                            <div class="form__title">
                                                1. Реквизиты
                                            </div>
                                            {{ form.erdpo }}
                                            <div class="form__title">
                                                2. Адрес ФОП
                                            </div>
                                            {{ form.fop_country }}
                                            {{ form.fop_region }}
                                            {{ form.fop_city }}
                                            {{ form.fop_address_line }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="checkbox__wrap">
                                    {{ form.agreed_to_terms }}
                                    <label for="{{ form.agreed_to_terms.id_for_label }}" class="checkbox-custom-label">
                                        <span>
                                            Я согласен с <a href="{{terms_page.url}}">Условиями регистрации</a>
                                        </span>
                                    </label>
                                </div>
                                <button class="button" type="submit">Продолжить</button>
                            </div>
                            <div class="col-lg-7 col-md-6"></div>
                        </div>
                    </form>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
